.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white;
    padding: 28px;
    border-radius: 10px;
    border: 1.5px solid #cdd2d8;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }
}

.page-team {
  .team-single {
    ul {
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
