.call {
  position: relative;
  overflow: hidden;
  background-color: #65b22e;
  color: #ffffff;
  border-radius: 4px;
  // box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .call-box-top {
    flex: 1 0 auto;
    padding: 20px;
    @include media-breakpoint-up(md) {
    }
  }
  .call-box-bottom {
    flex: auto;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    @include media-breakpoint-up(sm) {
      flex: 0 0 auto;
      border: none;
    }
  }
  .call-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .call-phone {
    margin-bottom: 5px;
  }
  .call-email {
    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .button {
    background-color: #ffffff;
    color: #65b22e;
    border-color: #ffffff;
    &:hover {
      background-color: darken(#ffffff, 3%);
      color: darken(#65b22e, 10%);
      border-color: darken(#ffffff, 3%);
    }
  }
  strong {
    font-weight: bold;
  }
  svg {
    fill: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }
  }
}
